:root {
  --azul: #18ade0;
  --ciano-claro: #51b797;
  --ciano-escuro: #229679;
  --marrom: #685c4a;
  --preto: #293237;
}

.container {
  text-align: center;
  align-items: center;
}

.container select {
  border-color: #229679 !important;
  color: var(--preto) !important;
  max-width: 40%;
}

.container button {
  border-color: #229679 !important;
  background-color: var(--ciano-claro) !important;
  color: var(--preto) !important;
}

#logo-pantanal {
  height: 50px;
  width: auto;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8vh;
}

#icon-terere {
  height: 20px;
  width: auto;
}
