<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>
 <div class="login">
	<h1>Techreré - Pantanal.dev</h1>
  <h2>Predição de sentimentos de notícias e sua relação com preços de ações</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="POST">
    	<input type="text" name="text_pt" placeholder="Notícia que será analisada" required="required" />
      <!-- <input type="text" name="test_score" placeholder="Test Score" required="required" /> -->
		  <!-- <input type="text" name="interview_score" placeholder="Interview Score" required="required" /> -->

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br/>
   <br>
   <br>
   {{ prediction_text }}
    <br/>
  
    <div id="chart1"></div>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        // var graphs2 = {{ graph2JSON | safe}};
        // Plotly.plot("chart2", graphs2,{});

        // var graphs3 = {{ graph3JSON | safe}};
        // Plotly.plot("chart3", graphs3,{});
    </script>
 </div>
</body>
</html>
