<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- <script>
    function postYourAdd () {
    var iframe = $("#forPostyouradd");
    iframe.attr("src", iframe.data("src")); 
    }
  </script> -->
</head>

<body>
 <div class="login">
	<h1>Techreré - Pantanal.dev</h1>
  <h2>Predição de sentimentos de notícias e sua relação com preços de ações</h2>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="POST">
    	<input type="text" name="text_pt" placeholder="Notícia que será analisada" required="required" />
      <!-- <input type="text" name="test_score" placeholder="Test Score" required="required" /> -->
		  <!-- <input type="text" name="interview_score" placeholder="Interview Score" required="required" /> -->

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <!-- <button id="postYourAdd" onclick="postYourAdd()">OPEN</button> -->
    <br/>
    <!-- <iframe id="forPostyouradd" data-src="./figure.html" src="./figure.html" width="500" height="200" style="background:#ffffff"></iframe> -->

    <!-- <div id="7979e646-13e6-4f44-8d32-d8effc3816df" style="height: 525; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("7979e646-13e6-4f44-8d32-d8effc3816df", [{"x": [0, 0, 8], "y": [3, 1, 6]}], {}, {"showLink": false, "linkText": ""})</script> -->

   <br>
   <br>
   {{ prediction_text }}
    <br/>
  
    <!-- <div class="container-fluid" style="margin-top:40px">
      <iframe src="https://github.com/wrodrigohs/deploy-ds-model/blob/master/file.html" width="800" height="1200" frameBorder="0"></iframe>
    </div> -->
    <!-- <script type='text/javascript'>
      var graphs = {graphJSON, safe};
      Plotly.plot('chart',graphs,{});
    </script> -->
 </div>
</body>
</html>
