<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>TechReré</title>
    <link
      href="https://fonts.gofogleapis.com/css?family=Pacifico"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Hind:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../assets/styles/style.css" />
  </head>
  <body>
    <nav class="navbar bg-body-secondary mb-5">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img
            src="../assets/images/logo-pantanal.png"
            alt="Pantanal.dev"
            id="logo-pantanal"
          />
        </a>
        <a class="btn btn-outline-primary" type="button" href="/">
          Ir para o comparador de ações
        </a>
      </div>
    </nav>
    <div class="container">
      <h1>TechReré - Pantanal.dev</h1>
      <br />
      <h4>Predição de sentimentos de notícias</h4>
      <br />
      <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('predictNews')}}" method="POST">
        <div
          class="mb-3 justify-content-center d-flex flex-column align-items-center"
        >
          <textarea
            class="form-control mb-2"
            rows="2"
            placeholder="Insira aqui o texto da notícia"
            name="news",
            maxlength="512"
          ></textarea>
          <div>
            <button class="btn btn-outline-info mt-2" type="submit">
              Classificar
            </button>
          </div>
        </div>
      </form>
      <br />
      <div class="mb-3 justify-content-center d-flex flex-column align-items-center">
        <strong>{{ prediction_text }}</strong>
        <br/>
      </div>
    </div>
    <footer
      class="d-flex justify-content-center align-items-center bg-body-secondary"
    >
      <img src="../assets/images/icon-terere.png" alt="tereré" id="icon-terere" />
      <span class="fw-bold ms-2">TechReré</span>
    </footer>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
